{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block menu %}
    <li><a href="{% url 'index' %}">Back</a></li>
{% endblock %}
{% block content %}
    <div class="card">
  <h5 class="card-header">Вы уверены, что хотите удалить данную запись?</h5>
 <div class="card-body">
    <h5 class="card-title">By: {{ record.author }} {{ record.email }}</h5>
    <p class="card-text">{{ record.text }}</p>
    <p>{{ record.created_at }}</p>
    <form action="{% url "record_delete" record.pk %}" method="post">
        {% csrf_token %}
        <p><input class="btn btn-danger" type="submit" value="Удалить"></p>
        <a href="{% url 'index'  %}" class="btn btn-primary" role="button" aria-pressed="true">Отмена</a>
    </form>
 </div>
</div>
{% endblock %}





