{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block menu %}
    <li><a href="{% url 'index' %}">Отмена</a></li>
{% endblock %}
{% block content %}
    <h1>Вы уверены, что хотите удалить задачу "{{ record.author }}"?</h1>
    <p>By: {{ record.email }} | {{ record.created_at }}</p>
    <form action="{% url "record_delete" record.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'index'  %}" >Отмена</a></p>
    </form>
    <h3>Полное описание задачи: </h3>
    <p>{{ record.text }}</p>
{% endblock %}